* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: YekanBakh;
}

html,
body,
#root {
  height: 100%;
}

/* Remove up/down arrow dials from numbered inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
